@import 'styles/var.scss';

.customers {
	&__name {
		font-weight: 500;
		font-size: 15px !important;
		line-height: 18px !important;
		letter-spacing: 0.5px;
		color: #212529;
	}

	&__address {
		font-weight: normal;
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #212529;
	}

	&__page {
		font-size: $font_size;
	}

	&__filters {
		.list_status {
			.status {
				margin-right: 15px;
				margin-bottom: 15px;
				background: transparent;
				border: 1px solid transparent;
				padding: 8px 18px;
				border-radius: 5px;
				display: inline-flex;
				white-space: nowrap;

				.number {
					height: 20px;
					line-height: 20px;
					padding: 5px;
					color: $white;
					background-color: $main_color;
					font-size: 12px;
					border-radius: 5px;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					margin-left: 10px;
					text-align: center;
					min-width: 20px;
				}

				&:hover,
				&:focus,
				&:active {
					background: #d9e4f0;
					border: 1px solid #d9e4f0;
					border-radius: 5px;
				}

				&.active {
					background: #c6d0dc;
					border: 1px solid #c6d0dc;
				}

				&.NEW_ORDER {
					background: #e1fce8;
					border: 1px solid #e1fce8;

					&:hover,
					&:active,
					&:focus {
						background: #86efa0;
						border: 1px solid #86efa0;
					}

					&.active {
						background: #39e044;
					}
				}

				&.SKETCH {
					background: #fff3cd;
					border: 1px solid #fff3cd;

					&:hover,
					&:active,
					&:focus {
						background: #ffe593;
						border: 1px solid #ffe593;
					}

					&.active {
						background: #ffc923;
					}
				}

				&.CUSTOMER_REVIEW_SKETCH,
				&.SKETCH_REVIEW,
				&.SKETCH_EDIT {
					background: #ffebe0;
					border: 1px solid #ffebe0;

					&:hover,
					&:active,
					&:focus {
						background: #ffb083;
						border: 1px solid #ffb083;
					}

					&.active {
						background: #ff8844;
					}
				}

				&.COLOR {
					background: #f4ebff;
					border: 1px solid #f4ebff;

					&:hover,
					&:active,
					&:focus {
						background: #d1aeff;
						border: 1px solid #d1aeff;
					}

					&.active {
						background: #a765ff;
					}
				}

				&.CUSTOMER_REVIEW_COLOR,
				&.COLOR_REVIEW,
				&.COLOR_EDIT {
					background: #ffe5f4;
					border: 1px solid #ffe5f4;

					&:hover,
					&:active,
					&:focus {
						background: #ffdff1;
						border: 1px solid #ffdff1;
					}

					&.active {
						background: #f9669a;
					}
				}

				&.EXPORT_FILE,
				&.SEND_FILE {
					background: #ffe8e8;
					border: 1px solid #ffe8e8;

					&:hover,
					&:active,
					&:focus {
						background: #ffd5d5;
						border: 1px solid #ffd5d5;
					}

					&.active {
						background: #ff4747;
					}
				}

				&.DONE {
					background: #ececec;
					border: 1px solid #ececec;

					&:hover,
					&:active,
					&:focus {
						background: #dedede;
						border: 1px solid #dedede;
					}

					&.active {
						background: #c6c6c6;
					}
				}
			}
		}

		.filter {
			&__main {
				display: flex;
				flex-wrap: wrap;
			}

			&__text {
				flex: 1;
				.search__box {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
					height: 38px;
				}
			}

			&__toggle {
				background: linear-gradient(180deg, $white 0%, #f3f4f6 99.88%);
				border: 1px solid #e2e5ed;
				box-sizing: border-box;
				box-shadow: 0px 1px 0px rgba(170, 170, 170, 0.1);
				padding: 0 20px;
				border-radius: 0;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				display: flex;
				align-items: center;
				height: 38px;
				color: #141414;
			}

			&__assignee {
				border-radius: 0;
			}

			&__dropdown {
			}
		}
	}

	&__link {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #337fd7;
	}

	&__body {
		margin-bottom: 20px;
	}

	&__table {
		.table {
			&__text {
				font-size: 15px;
				color: #000000;
			}
			&__link {
				font-size: 15px !important;
				color: #337fd7 !important;
			}
		}
	}

	&__tags {
		.tags {
			&__item {
				padding: 3px 10px;
				background: #c7f8d3;
				border-radius: 5px;
				font-size: 14px;
				color: #141414;
				font-weight: normal;
				display: inline-block;
				position: relative;
				white-space: nowrap;
				z-index: 1;
				border: none;
				margin-right: 5px;
				margin-bottom: 5px;
			}

			&__edit {
				background: none;
				border: none;
				padding: 5px;
			}
		}
	}

	&__popup {
		.tags {
			&__form {
				margin-bottom: 15px;
			}

			&__input {
				font-size: 16px;
			}

			&__create {
				background: #0095ff;
				text-transform: uppercase;
				border-color: #0095ff;
				color: $white;
			}

			&__item {
				padding: 2px 10px;
				padding-right: 30px;
				background: #c7f8d3;
				border-radius: 5px;
				font-size: 16px;
				color: #141414;
				font-weight: normal;
				display: inline-block;
				position: relative;
				white-space: nowrap;
				z-index: 1;
				border: none;
				margin-right: 5px;
				position: relative;
				margin-bottom: 5px;
			}

			&__remove {
				margin-left: auto;
				background: none;
				border: none;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 20px;
				height: 20px;

				.icon {
					margin-bottom: 3px;
				}
			}

			&__ctas {
				margin-top: 10px;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}

			&__cta {
				width: 100px;
			}
		}
	}

	@include max-sm() {
		&__filters {
			.filter {
				&__text {
					width: 100%;
					flex: initial;
					margin-bottom: 10px;
					.search__box {
						border-radius: 4px;
					}
				}
			}
		}

		&__header,
		&__body {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}
