@import 'styles/var.scss';

.steenify-btn {
	.btn {
		border-radius: 4px;
		border: none;
		color: $white;
		font-size: 18px;
		line-height: 22px;
		min-height: 36px;
		display: inline-flex;
		align-items: center;
		min-width: 68px;
		justify-content: center;

		&-icon {
			margin-right: 6px;
		}

		&-secondary {
			background-color: #909fa9;
		}

		&-primary {
			background-color: #0095ff;
		}

		&-link {
			color: $text_color;
		}

		&-create {
			min-height: 30px;
			background: #337fd7;
			border-radius: 3px;
			font-weight: 500;
			font-size: 15px;
			line-height: 18px;
		}

		&-normal {
			background: linear-gradient(180deg, #ffffff 0%, #f3f4f6 99.88%);
			border: 1px solid #e2e5ed;
			box-shadow: 0px 1px 0px rgba(170, 170, 170, 0.1);
			border-radius: 3px;

			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.5px;
			color: #141414;
		}
	}
}
