.paging {
  .page-item {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    .page-link-custom {
      background: none !important;
      border-color: transparent !important;
      font-size: 16px;
      font-weight: bold;
      color: #838383;
      width: 100%;
      height: 100%;
      display: flex;
      border-radius: 4px;
      justify-content: center;
      align-items: center;
      &.active {
        background-color: #d68100 !important;
        color: #ffffff !important;
      }
    }
    &.active {
      background-color: #d68100 !important;
      color: #ffffff !important;
    }

    &:hover {
      border: 1px solid #d68100 !important;
    }

    &.disabled {
      a {
        color: #b5b5b5 !important;
      }
    }
    &.next,
    &.prev {
      a {
        color: #000000;
      }
    }
  }
}
