.navigation {
	&__page {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 12;
		background: #ffffff;
		border-bottom: 1px solid #e2e5ed;
	}

	&__container {
		padding: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
