@import 'styles/var.scss';

.artists {
	&__page {
		font-size: $font_size;
	}

	&__back {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.3px;
		color: #767676 !important;
	}

	&__title {
		font-weight: 600;
		font-size: 27px;
		line-height: 32px;
		color: $black;
		margin-bottom: 20px;
	}

	&__box {
		.info {
			&__item {
				margin-bottom: 10px;
			}

			&__title {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: $black;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}

	&__cell {
		font-size: 16px !important;
	}

	&__name {
		white-space: nowrap;
	}

	&__workload {
		.workload {
			&__progress {
				display: flex;
			}
			&__item {
				background: #eceff3;
				height: 20px;
				width: 40px;
				margin-right: 1px;

				&:first-child {
					border-top-left-radius: 8px;
					border-bottom-left-radius: 8px;
				}

				&:last-child {
					border-top-right-radius: 8px;
					border-bottom-right-radius: 8px;
				}

				&.New {
					background: #86efa0;
				}

				&.Doing {
					background: #f12900;
				}
				&.Review {
					background: #ffc000;
				}
			}
		}
	}
}
