@import 'styles/var.scss';

.notification {
	.btn-secondary {
		background: none;
		padding: 0;
		border: none;
		color: #d1d3e2;
		font-size: 18px;
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;

		.bell {
			display: inline-block;
			position: relative;
		}

		&:hover,
		&:focus {
			background-color: transparent;
			color: #d1d3e2;
		}

		.badge {
			font-size: 9px;
			position: absolute;
			top: -1px;
			right: -7px;
		}
	}

	.dropdown-menu {
		padding: 0;
		border: none;
		box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
		width: 320px;
		border-radius: 6px;
		color: #3a3b45;
		overflow: hidden;
		font-size: 13px;
	}

	.dropdown-header {
		background-color: #4e73df;
		border: 1px solid #4e73df;
		padding: 12px 24px;
		color: $white;
	}

	.dropdown-footer {
		padding: 12px 24px;
		text-align: center;

		.link {
			color: #3a3b45;

			&:hover {
				color: $main_color;
			}
		}
	}

	.icon {
		width: 30px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: $white;
		border-radius: 50%;
	}

	.noti {
		display: flex;
		padding: 8px 0;
		border-bottom: 1px solid #e3e6f0;

		&__icon {
			width: 70px;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&__content {
			flex: 1;
		}

		&__title {
			margin-bottom: 2px;
			font-weight: bold;
		}

		&__desc {
			margin-bottom: 0;
		}

		&__date {
			margin-bottom: 0;
			color: #b7b9cc;
			font-size: 10px;
		}
	}
}
