@import 'styles/var.scss';

.Toastify__toast--default {
	position: relative;

	.Toastify__close-button {
		position: absolute;
		top: 0px;
		right: 0px;

		svg {
			display: none;
		}
	}
}

.fcm_mess {
	display: flex;

	&__icon {
		width: 40px;
		height: 40px;
		min-width: 40px;
		overflow: hidden;
		border-radius: 100%;
		margin-right: 10px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__body {
		padding-right: 5px;
	}

	&__mess {
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: #141414;
	}

	.link {
		color: $main_color;
	}
}
