@import 'styles/var.scss';

.order_detail {
	&__header {
		position: relative;
		margin-bottom: 20px;

		&.canvas {
			margin-top: 20px;
		}

		.number {
			font-size: 27px;
			line-height: 1;
			color: $black;
			font-weight: bold;
			display: inline-block;
			margin-right: 10px;
		}

		.status {
			display: inline-block;
			margin-right: 10px;
		}

		.deadline {
			font-size: 18px;
			line-height: 1;
			letter-spacing: 0.3px;
			color: $black;
			display: inline-block;
		}

		.budget {
			font-size: 18px;
			line-height: 1;
			color: $black;
			padding: 0;

			span {
				font-size: 18px;
				color: #337fd7;
				font-weight: bold;
			}
		}

		.info__left {
			display: flex;
			align-items: center;
			flex-wrap: wrap;
		}

		.info__right {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex-wrap: wrap;
		}

		.info {
			&__cta {
				margin-left: 10px;
				margin-bottom: 5px;
			}

			&__history {
				color: #000;
				background-color: #ffd5d5;
				border-color: #ffd5d5;
			}

			&__artist {
				color: #000;
				background-color: #ffdff1;
				border-color: #ffdff1;
			}
		}

		@include max-xl() {
			.info__left {
				.number,
				.status,
				.deadline {
					margin-bottom: 10px;
				}
			}

			.info__right {
				.assign__artist,
				.order__budget {
					margin-bottom: 10px;
				}
			}
		}

		@include max-lg() {
			.info__left {
				.number {
					width: 100%;
				}
			}

			.info__right {
				justify-content: space-between;
				margin-top: 10px;
			}
		}

		@include max-sm() {
			.info__right {
				.budget {
					font-size: 16px;
				}
			}
		}
	}

	&__box {
		background: $white;
		border: 1px solid #e2e5ed;
		box-sizing: border-box;
		box-shadow: inset 0px 1px 2px rgba(102, 113, 123, 0.21);
		border-radius: 3px;
		padding: 15px;
	}

	&__wrapper {
		height: 100%;
		padding-bottom: 20px;
	}

	&__original {
		margin-bottom: 20px;
		height: 100%;

		.name {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #337fd7;
		}

		.options {
			font-size: 15px;
			line-height: 22px;
			letter-spacing: 0.28125px;
			color: #767676;
			margin-bottom: 10px;
		}

		.description {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #141414;
			margin-bottom: 20px;
		}

		.photos {
			&__title {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.3px;
				color: #141414;
				display: block;
				margin-bottom: 10px;
			}

			.images_gallerry__item {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 6px;
				}
			}
		}
	}

	&__sumary {
		margin-bottom: 20px;
		height: 100%;

		.body {
			margin-bottom: 15px;
		}

		.desciption {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #141414;
			margin-bottom: 20px;
		}

		.photos {
			&__title {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.3px;
				color: #141414;
				display: block;
				margin-bottom: 10px;
			}

			.images_gallerry__item {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 6px;
				}
			}

			&__upload {
				margin-top: 15px;
			}
		}
	}

	&__customer {
		margin-bottom: 20px;
	}

	&__ctas {
		margin: 20px 0;

		.cta {
			min-width: 200px;
			border-radius: 4px;
		}

		.ctas {
			&__group {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-end;
				width: 100%;
			}

			&__item {
				padding-left: 10px;
				padding-right: 10px;
				width: 50%;
			}

			&__button {
				width: 100%;
				min-width: 160px;
			}

			&__notify {
				background: #ffc923 !important;
			}

			&__remind {
				background: #ea7a00 !important;
			}

			&__canceled {
				background: #dc3545 !important;
			}
		}
	}

	&__worklog {
		margin-bottom: 20px;
	}

	&__assigned {
		.assign__artist .order__toggle {
			width: 100%;
			font-size: 18px;
			line-height: 1;
			color: $black;
			padding: 0;

			.name {
				display: inline-block;
				white-space: nowrap;
				max-width: 150px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	&__work_group {
		margin-bottom: 30px;

		.group {
			&__header {
				display: flex;
				align-items: center;
				justify-content: space-between;
				position: relative;
				margin-bottom: 20px;
				cursor: pointer;

				&::after {
					content: '';
					position: absolute;
					z-index: 2;
					width: 100%;
					height: 1px;
					top: 50%;
					left: 0;
					background: #eaeaea;
				}

				.dot {
					&::after {
						padding-left: 10px;
						content: '•';
					}
				}

				.deadline {
					margin-left: 10px;
				}
			}

			&__title {
				white-space: nowrap;
				position: relative;
				z-index: 3;
				display: flex;
				align-items: center;
				background: #ebebeb;
				border-radius: 0px 15px 15px 0px;
				font-size: 14px;
				line-height: 17px;
				text-transform: uppercase;
				color: #767676;
				padding: 8px 30px;
				margin-left: -15px;

				.state {
					font-weight: 600;
				}
			}

			&__toggle {
				background: $white;
				border: 1px solid #d8d8d8;
				width: 35px;
				height: 35px;
				border-radius: 100%;
				position: relative;
				z-index: 3;
			}

			&__body {
				padding-left: 40px;
				margin-left: 70px;
				border-left: 1px solid #eaeaea;

				&.isNewOrder {
					padding-left: 0;
					margin-left: 0;
					border-left: 1px solid transparent;
				}
			}
		}
	}

	&__artwork {
		position: relative;

		.upload {
			.upload-file__form {
				min-height: 110px;
			}
		}

		.box__header {
			padding-top: 10px;
			padding-bottom: 10px;
			cursor: pointer;
		}

		.box__title {
			font-weight: 600;
			font-size: 18px;
			line-height: 21px;
			color: #141414;
		}

		.photos {
			margin-bottom: 10px;

			.images_gallerry__item {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.box__icon {
			cursor: pointer;
			position: absolute;
			left: -62px;
			width: 44px;
			height: 44px;
			background: #ffebac;
			color: #c69500;
			border-radius: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 4px solid $white;

			&.com {
				background: #c7f8d3;
				color: #00ad0c;
			}

			&.feedback {
				background: #ffddc1;
				color: #ea7a00;
			}
		}

		.work__last_update {
			margin-left: 5px;
			font-size: 14px;
			font-weight: normal;
			font-style: italic;
			color: #767676;
		}
	}

	.ignore-top {
		margin-top: 0px;
		border-top: 0px;
		padding-top: 0px;
	}

	&__tracking_code {
		input {
			height: 40px;
		}
	}

	&__comments {
		margin-top: 20px;
		border-top: 1px solid #e2e5ed;
		padding: 20px 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #e2e5ed;
		margin-bottom: 20px;

		.comments {
			&__icon {
				left: 0 !important;
			}

			&__title {
				padding-left: 55px;
			}

			&__list {
				margin-bottom: 20px;
				padding-left: 55px;
			}

			&__item {
				margin-bottom: 20px;
			}

			&__author {
				display: flex;
				align-items: flex-start;
				margin-bottom: 10px;

				.avt {
					width: 35px;
					height: 35px;
					border-radius: 100%;
					overflow: hidden;
					margin-right: 10px;
				}

				.left {
					display: flex;
					align-items: center;
					margin-bottom: 10px;
				}
			}

			&__mess {
				font-weight: normal;
				color: #1c1e21;
				display: inline-block;
				line-height: 16px;
				font-size: 17px;

				.textarea {
					border: none;
					appearance: none;
					width: 100%;
					height: auto;
				}

				p {
					margin-bottom: 5px;
				}
			}

			&__wrapper {
				margin-bottom: 3px;
				width: 100%;
			}

			&__img {
				margin-top: 10px;

				.images_gallerry__item {
					margin-right: 10px;
					margin-bottom: 10px;

					img {
						border-radius: 6px;
						width: 70px;
						height: 70px;
						object-fit: cover;
					}
				}
			}

			&__actions {
				position: relative;
			}

			&__input {
				background: #eff2f5;
				border-radius: 6px;
				height: 46px;
				padding-right: 120px;
				padding-left: 20px;
				font-size: 18px;
			}

			&__action {
				background: none;
				border: none;
				outline: none;
				padding: 5px;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				right: 5px;
				text-align: center;
				width: 40px;

				&.comments__emoji {
					right: 90px;
				}

				&.comments__upload {
					right: 50px;
				}
			}

			&__file {
				width: 200px;
				border-radius: 8px;
				margin-bottom: 5px;
				overflow: hidden;
				position: relative;

				.delete {
					position: absolute;
					top: 5px;
					right: 5px;
					width: 30px;
					height: 30px;
					background: $white;
					border: 1px solid $black;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 100%;
				}

				.icon {
					margin-bottom: 2px;
				}
			}

			&__controls {
				display: flex;
				align-items: center;

				.dot {
					color: #8d949e;
					display: inline-block;
					padding-left: 5px;
					padding-right: 5px;
				}
			}

			&__control {
				display: inline-block;
				color: #385898;
				background: none;
				border: none;
			}

			&__box {
				background-color: #f2f3f5;
				border-radius: 18px;
				padding: 8px 10px;
				color: #1c1e21;
				display: inline-block;
				line-height: 16px;
				white-space: normal;
				word-break: break-word;

				.name {
					font-style: normal;
					font-weight: 600;
					font-size: 16px;
					line-height: 21px;
					color: #385898;
					margin-right: 5px;
				}
			}
		}
	}

	&__avt {
		width: 30px;
		height: 30px;
		border-radius: 100%;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__email {
		.template {
			&__list {
				margin-bottom: 20px;

				.nav-link {
					border: 1px solid $main_color;
					color: $main_color;
					padding: 3px 15px;
					border-radius: 15px;
					&:hover,
					&:active,
					&.active {
						background-color: $main_color;
						color: $white;
					}

					&.SKETCH {
						background: #fff3cd;
						border-color: #fff3cd;
						color: $black;
					}

					&.SKETCH_REVIEW {
						background: #ffebe0;
						border-color: #ffebe0;
						color: $black;
					}

					&.COLOR {
						background: #f4ebff;
						border-color: #f4ebff;
						color: $black;
					}

					&.COLOR_REVIEW {
						background: #ffe5f4;
						border-color: #ffe5f4;
						color: $black;
					}

					&.EXPORT_FILE,
					&.SEND_FILE {
						background: #ffe8e8;
						border-color: #ffe8e8;
						color: $black;
					}

					&.DONE,
					&.PAID {
						background: #ececec;
						border-color: #ececec;
						color: $black;
					}
				}
			}

			&__types {
				margin-bottom: 20px;
			}

			&__type {
				border: 1px solid #e7e9ee;
				color: #5c5c5c;
				background: #e7e9ee;
				padding: 8px 15px;
				font-weight: 500;
				font-size: 18px;
				line-height: 21px;
				text-align: center;
				width: 100%;
				max-width: 150px;

				&.active,
				&:hover,
				&:active {
					border: 1px solid $main_color;
					color: $white;
					background: $main_color;
					text-decoration: none;
				}
			}

			&__message {
				.title {
					font-weight: 600;
					font-size: 18px;
					line-height: 21px;
					color: #141414;
				}

				.images_gallerry__item {
					width: 100px;
					height: 100px;
					overflow: hidden;
					border-radius: 8px;
					margin-right: 10px;
					margin-bottom: 10px;

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}

			&__content__wrapper {
				// padding-top: 20px;
				border-top: 2px solid #e2e5ee;

				.content_left {
					// margin-top: 20px;
					border-right: 2px dashed #e2e5ee;
					display: flex;
					flex-direction: column;
					max-height: 567px;
					overflow: auto;

					.checkbox_title {
						font-size: 18px;
						color: #141414;
						cursor: pointer;
						flex: 1;
					}
				}

				.email-title {
					color: #141414;
					font-size: 16px;
					font-weight: 500;
				}

				.content_title {
					margin-top: 20px;
					font-size: 16px;
					margin-bottom: 20px;
					font-weight: 500;
					color: #141414;
				}

				.preview_item {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-bottom: 5px;
					border-radius: 15px;
					font-size: 18px;
					cursor: pointer;
				}

				.preview_active {
					color: white;
					background-color: #337fd7;
				}
			}
		}
	}

	&__tabs {
		border-bottom: 2px solid #e2e5ed;
		margin-bottom: 20px;
		scrollbar-width: thin;
		white-space: nowrap;
		overflow-x: scroll;
		overflow-y: hidden;
		display: flex;
	}

	&__tab {
		margin-right: 40px;
		color: $main_color;
		text-transform: uppercase;
		font-size: 16px;
		border: none;
		background: none;
		font-weight: 600;
		color: #767676;
		padding: 5px 0;
		margin-bottom: -2px;
		border-bottom: 2px solid #e2e5ed;

		&.big {
			font-size: 20px;
		}

		&.active,
		&:hover,
		&:active {
			color: $main_color;
			border-bottom: 2px solid $main_color;
		}

		.tab {
			&__btn {
				background: none;
				border: none;
				outline: none;
				font-weight: 600;
				color: #767676;
			}

			&__delete {
				width: 20px;
				height: 20px;
				border-radius: 100%;
				background-color: $danger;
				border: none;
				outline: none;
				margin-left: 10px;
				color: $white;
				display: inline-flex;
				align-items: center;
				justify-content: center;

				svg {
					width: 15px;
					height: 15px;
				}
			}
		}
	}

	&__content {
		display: none;

		&.active {
			display: block;
		}
	}

	&__delivery {
		.deli__photos {
			.images_gallerry__item {
				width: 100px;
				height: 100px;
				overflow: hidden;
				border-radius: 8px;
				margin-right: 10px;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}

		.deli__edit {
			.upload-file__form {
				min-height: 110px;
			}
		}
	}

	&__activites {
		margin-bottom: 20px;

		.activites {
			&__item {
				font-size: 14px;
				line-height: 17px;
				color: #9ea0a5;

				strong {
					font-weight: 500;
					color: #337fd7;
				}

				span {
					font-style: italic;
					font-weight: normal;
				}

				.content {
					padding: 3px 20px;
					border-radius: 10px;
					background: #daeeff;
					display: inline-block;
				}

				& + .activites__item {
					margin-top: 10px;
				}

				&.UPLOADED {
					.content {
						background: #daeeff;
					}
					strong {
						color: #337fd7;
					}
				}
				&.APPROVED {
					.content {
						background: #c7f8d3;
					}
					strong {
						color: #00ad0c;
					}
				}
				&.REJECTED {
					.content {
						background: #ffe3e3;
					}
					strong {
						color: #474747;
					}
				}
				&.NOTIFIED_CUSTOMER {
					.content {
						background: #fff1c7;
					}
					strong {
						color: #d29e00;
					}
				}
			}
		}
	}

	&__addproduct {
		.addproduct {
			&__note {
				.form-control {
					font-size: 16px;
				}
			}
		}
	}

	&__previousArtistBudget {
		.previous-artist-row {
			display: flex;
			justify-content: space-between;
		}

		.label {
			font-size: 16px;
		}

		.value {
			font-size: 17px;
			margin-left: 8px;
		}
	}

	&__assignedModal {
		.assignedModal {
			&__note {
				.form-control {
					font-size: 16px;
				}
			}
			&__action {
				background: transparent;
				border: none;
				display: block;
				width: 100%;
				padding: 10px 0 10px 0;
				text-align: left;
				font-size: 16px;
			}

			&__action__container {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #e2e5ee;
				padding-bottom: 5px;
				.right {
					font-size: 17px;
					color: #767676;
					flex: 1;
					margin-left: 8px;
				}
			}

			&__ctas {
				margin-bottom: 10px;
				display: flex;
			}

			&__cta {
				background: linear-gradient(180deg, #ffffff 0%, #fdfdfd 17.23%, #f3f4f6 99.88%);
				border: 1px solid #d2d6e0;
				box-shadow: 0px 1px 0px rgba(170, 170, 170, 0.1);
				border-radius: 3px;
				width: 100%;
				padding: 8px;
				font-weight: 500;
				font-size: 16px;
				line-height: 19px;
				color: #54626e;

				&__1 {
					margin-right: 5px;
				}
				&__2 {
					margin-left: 5px;
				}
			}

			&__done {
				background: #337fd7;
				border-radius: 4px;
				width: 100%;
				display: block;
				margin-top: 30px;
				margin-bottom: 30px;
			}
		}
		.back {
			background: transparent;
			border: none;
			// padding: 10px 0 10px 0;
			text-align: left;
			font-size: 16px;
		}
		.previous-artist {
			border: 1px solid#767676;
			border-radius: 8px;
			padding: 20px;
		}

		// .previous-artist-row {
		// 	display: flex;
		// 	justify-content: space-between;
		// }

		.label {
			font-size: 16px;
		}

		.value {
			font-size: 17px;
			margin-left: 8px;
		}

		.budget__history__list {
			max-height: 500px;
			overflow: auto;
		}

		.budget__history__item {
			border: 1px solid#767676;
			border-radius: 8px;
			padding: 20px;
			margin-bottom: 8px;
			.budget__history__row {
				display: flex;
				justify-content: space-between;
			}
			.label {
				font-size: 16px;
				color: #333333;
			}

			.value {
				font-size: 17px;
				margin-left: 8px;
			}
		}

		.change__budget__row {
			display: flex;
			align-items: center;

			.label {
				font-size: 16px;
			}

			.amount {
				font-size: 16px;
				margin-left: 8px;
				flex: 1;
				height: 40px;
			}

			.note {
				margin-left: 16px;
			}
		}

		.artist__list {
			max-height: 400px;
			overflow: auto;
		}
	}

	&__todos {
		.todo {
			&__item {
				display: flex;
				align-items: flex-start;
				margin-bottom: 5px;

				&.RESOLVED {
					.todo {
						&__icon {
							cursor: none;
							color: #9ea0a5;

							.cus-checkbox {
								border-color: #9ea0a5;
							}
							.cus-checkbox .checkmark:after {
								border-color: #9ea0a5;
							}
						}
						&__text {
							text-decoration: line-through;
							color: #9ea0a5;
						}

						&__edit {
							display: none;
						}
					}
				}
			}
			&__cta {
				background-color: #ff8844;
			}
			&__icon {
				width: 30px;
				min-width: 30px;
				.cus-checkbox {
					border-color: #ff8844;
				}
			}

			&__text {
				width: 100%;
				flex: 1;
				color: $black;
			}

			&__create {
				margin-bottom: 10px;
			}

			&__form {
				display: flex;
			}
			&__input {
				height: 35px;
				margin-right: 5px;
				border-color: #ff8844;
			}

			&__edit {
				width: 30px;
				height: 30px;
				background: none;
				border: none;
			}

			&__remove {
				.span {
					background: #dc3545;
					color: $white;
					border-radius: 100%;
					display: flex;
					width: 20px;
					height: 20px;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}

	@include max-lg() {
		&__customer_box {
			order: -1;
		}
	}

	@include max-md() {
		&__box,
		&__work_items,
		&__delivery,
		&__customer {
			margin-left: -15px;
			margin-right: -15px;
			box-shadow: none;
		}

		&__work_group {
			.group__title {
				padding: 8px 15px;
			}

			.group__body {
				margin-left: 15px;
				padding-left: 30px;
			}

			.group__header.DONE {
				.group__toggle {
					display: none;
				}

				&::after {
					display: none;
				}

				.group__title {
					margin-right: -15px;
					flex: 1;
					border-radius: 0;
					justify-content: center;
				}
			}
		}

		&__artwork {
			.box__icon {
				left: -53px;
			}
		}
	}

	@include max-sm() {
		&__artwork {
			.work__last_update {
				display: block;
				margin-left: 0;
			}
		}

		&__comments {
			.comments {
				&__list {
					padding-left: 0;
				}
			}
		}
	}

	@media (max-width: 400px) {
		&__ctas {
			.cta2 {
				min-width: 120px;
			}
		}
	}

	.order_assigned_item {
		.title {
			font-size: 20px;
		}

		.name {
			font-size: 17px;
		}

		.budget {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #337fd7;
		}
		@media (max-width: 991px) {
			flex: 1;
		}
	}
}
