@import 'styles/var.scss';

.payouts {
	&__page {
		font-size: $font_size;
	}

	&__count {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		.left,
		.right {
			display: flex;
			align-items: flex-end;
		}

		.left {
			.number {
				margin-right: 20px;
			}
		}

		.right {
			justify-content: flex-end;
		}

		.name {
			font-weight: 500;
			font-size: 15px;
			line-height: 22px;
			letter-spacing: 0.5px;
			color: #637381;
			margin-right: 10px;
		}

		.number {
			font-weight: 600;
			font-size: 18px;
			line-height: 22px;
			letter-spacing: 0.6px;
			color: #337fd7;
		}
	}

	&__filters {
		.filter {
			&__main {
				display: flex;
			}

			&__text {
				flex: 1;
				.search__box {
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}
			}

			&__toggle {
				background: linear-gradient(180deg, $white 0%, #f3f4f6 99.88%);
				border: 1px solid #e2e5ed;
				box-sizing: border-box;
				box-shadow: 0px 1px 0px rgba(170, 170, 170, 0.1);
				padding: 0 20px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				display: flex;
				align-items: center;
			}
		}
	}

	&__link {
		font-size: 15px;
		line-height: 18px;
		letter-spacing: 0.5px;
		color: #337fd7;
	}

	&__artist {
		.payouts__link {
			font-size: 15px !important;
			letter-spacing: 0.5px;
			color: #337fd7 !important;
		}
	}

	&__list {
		position: relative;
	}

	&__loading {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background: $white;
		padding: 5px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 50px;
		z-index: 12;
		.text {
			display: inline-block;
			margin-left: 10px;
		}
	}
}

.payouts_detail {
	&__top {
		display: flex;
		justify-content: space-between;

		.left {
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.info {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.3px;
				margin-right: 20px;
				color: #141414;
				strong {
					color: #141414;
					font-weight: 500;
				}

				.to,
				.date {
					margin-bottom: 10px;
				}
			}

			.id {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.3px;
				color: #141414;
				padding-left: 20px;
				border-left: 1px solid #9ea0a5;
				span {
					color: #637381;
				}
			}
		}

		.right {
			text-align: right;

			.name {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.533333px;
				color: #637381;
				margin-bottom: 10px;
			}
			.number {
				font-weight: 600;
				font-size: 26px;
				line-height: 22px;
				letter-spacing: 0.866667px;
				color: #141414;
			}
		}
	}

	&__title {
		background: #f2f4f5;
		padding: 5px 20px;
		margin-bottom: 20px;
		font-weight: 600;
		font-size: 16px;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: #141414;
	}

	&__body {
		.label {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #637381;
		}

		.value {
			font-weight: 600;
			font-size: 16px;
			line-height: 22px;
			text-align: right;
			letter-spacing: 0.3px;
			color: #141414;
		}
	}

	&__order {
		margin: 0;
		margin-bottom: 10px;
	}

	&__devider {
		background: #f2f4f5;
		height: 1px;
		width: 100%;
		margin: 20px 0;
	}

	&__photos {
		.images_gallerry__item {
			width: 200px;
			height: 200px;
		}
	}
}
