@import 'styles/var.scss';

.artists {
	&__page {
		font-size: $font_size;
	}

	&__back {
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.3px;
		color: #767676 !important;
	}

	&__title {
		font-weight: 600;
		font-size: 27px;
		line-height: 32px;
		color: $black;
		margin-bottom: 20px;
	}

	&__box {
		.info {
			&__item {
				margin-bottom: 10px;
			}

			&__title {
				font-weight: 600;
				font-size: 20px;
				line-height: 24px;
				color: $black;
				margin-bottom: 10px;
				text-transform: uppercase;
			}
		}
	}
}
