.form-group--role {
	.css-1uccc91-singleValue {
		.desc {
			display: none;
		}

		.desc {
			display: block;
			font-size: 15px;
			line-height: 22px;
		}
	}

	.css-1rhbuit-multiValue {
		.label {
			// display: none;
		}

		.desc {
			display: block;
			font-size: 15px;
			line-height: 22px;
		}
	}
}
