@import 'styles/var.scss';

.artist_detail {
	.subText {
		font-size: 16px;
		font-weight: normal;
		line-height: 22px;
		letter-spacing: 0.3px;
		color: #637381;
	}

	&__header {
		position: relative;
		margin-bottom: 20px;
	}

	&__box {
		background: $white;
		border: 1px solid #e2e5ed;
		box-sizing: border-box;
	}

	&__wrapper {
		height: 100%;
		padding-bottom: 20px;
	}

	&__original {
		margin-bottom: 20px;
	}

	&__orders {
		margin-bottom: 20px;
		.name {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #337fd7;
		}

		.options {
			font-size: 15px;
			line-height: 22px;
			letter-spacing: 0.28125px;
			color: #767676;
			margin-bottom: 10px;
		}

		.description {
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
			color: #141414;
			margin-bottom: 20px;
		}

		.photos {
			&__title {
				font-size: 16px;
				line-height: 22px;
				letter-spacing: 0.3px;
				color: #141414;
				display: block;
				margin-bottom: 10px;
			}

			.images_gallerry__item {
				width: 100px;
				height: 100px;
				margin-right: 10px;
				margin-bottom: 10px;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					border-radius: 6px;
				}
			}
		}
	}

	.ctas {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: -15px;

		.cta {
			font-size: 15px;
			line-height: 22px;
			letter-spacing: 0.5px;
		}

		.cancel {
			justify-content: flex-start;
			color: #767676;
		}

		.save {
			justify-content: flex-end;
			color: #337fd7;
		}
	}

	@include max-sm() {
		&__wrapper,
		&__orders {
			margin-left: -15px;
			margin-right: -15px;
		}
	}
}
