@import 'styles/var.scss';

$blue_light: #54aad8;
$form_bg: $white;
$form-text-color: #141414;
$form-text-border: #e2e5ed;
$form-icon-cloud: #a8a8a8;

.upload-file {
	cursor: copy;

	&__form {
		background: $form_bg;
		border: 1px solid $form-text-border;
		box-sizing: border-box;
		border-radius: 2.4px;
		width: 100%;
		padding: 10px 15px;
		transition: background-color 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;

		.content {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.custom-file-upload {
			display: block;
			color: $form-text-color;
			margin-bottom: 0;
			margin-right: 10px;
			font-size: 16px;
			line-height: 22px;
			letter-spacing: 0.3px;
		}

		&.is-dragover {
			border-color: $white;
			background-color: rgba($blue_light, 0.7);

			.custom-file-upload,
			.cloud-up {
				color: $white;
			}
		}
	}

	&__list {
		height: 100%;
		padding: 20px 0;

		&__title {
			font-weight: bold;
			font-size: 18px;
		}

		.file-item {
			display: inline-block;
			align-items: center;
			background: $white;
			margin-bottom: 15px;
			position: relative;
			margin-right: 15px;
			width: 80px;
			height: 80px;

			&__img {
				width: 100%;
				height: 100%;
				border-radius: 5px;
				overflow: hidden;

				img {
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}

			&__loading {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				background: rgba($color: #000000, $alpha: 0.5);
				border-radius: 5px;
				overflow: hidden;
			}

			&__delete {
				width: 20px;
				height: 20px;
				cursor: pointer;
				display: inline-flex;
				align-items: center;
				justify-content: center;
				background: none;
				border-radius: 100%;
				background: $white;
				border: 1px solid #eceff3;
				position: absolute;
				top: -10px;
				right: -10px;
				z-index: 2;
			}
		}
	}

	@include max-md() {
		&__form {
			min-height: rem(250px);
		}
	}
}
